body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.section-1 {
    background: linear-gradient(90deg, #7b2ff7, #9b4dff);
}

.logo {
    height: 40px;
    margin-right: 100px;
    margin-top: auto;
    color: white;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    margin-top: 10px;
    margin-bottom: 80px;
}


.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    text-shadow: white;
    gap: 20px;
    font-weight: 600;

}

.nav-left a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 600;
}

.signin {
    color: white;
    text-decoration: none;
    margin-right: 20px;

}

.signup {
    background: #fa2c51;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.about {
    max-width: max-content;
    color: white;
    font-size: 1.1rem;
}

.pages {
    max-width: max-content;
    border-radius: 20px;
    color: white;
    font-size: 1.1rem;
}

.pages a {
    color: black;
    background: white;
    text-align: center;
}

.about a {
    color: black;
    background: white;
    text-align: center;
}

.section-first {
    padding: 100px 20px;

}

.text {
    margin: 15px;
    text-align: start;
    padding-bottom: 100px;
}

.text p {
    margin-left: 50px;
}

.heading {
    width: 800px;
    font-weight: bold;
    line-height: 1.25;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin-bottom: 28px;
    font-size: 3.625rem;
}

.hero-content {
    max-width: 600px;
    color: white;
}

.hero-content h1 {
    font-size: 60px;
    line-height: 1.2;

}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    opacity: 0.9;
    text-align: center;
    align-items: center;
}

.hero-content button {
    background: #ff4d6d;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.hero-content button:hover {
    color: white;
    background: transparent;
    border: 2px solid white;
}

.hero-image img {
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 45px;
    height: 662px;
    width: 552px;
    margin-right: 60px;
    margin-top: 150px;

}

.hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
}


.hero-content h1 {
    font-size: 40px;
}

.hero-1-txt {
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}

.text p {
    text-align: start;
    left: 100px;
    position: absolute;
}

.section-2 {
    background-color: white;
    margin-top: 50px;
}

.section-2 h1 {
    font-weight: 700;
    font-size: 55px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: -0.5px;
    text-align: center;
    padding-top: 50px;
}

.section-2 h5 {
    color: grey;
    margin-bottom: 0;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;

}

.services {
    text-align: center;
    padding: 60px 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: #2d3748;
}

.subtitle {
    color: #6b7280;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 18px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    background: transparent;
    padding: 20px;
    display: block;
}

.icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    background: rgba(255, 51, 102, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #ff3366;
}

.card h3 {
    font-size: x-large;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.35rem;
    text-align: center;
}

.card h6 {
    margin-top: 10px;
    color: #6b7280;
    font-size: 1rem;
    font-weight: 530;
    width: 200px;

}

.section-3 {
    background: white;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 60px;
    align-items: center;
    padding-top: 60px;
    border-top: 0.001px solid black;
}

.section-3 .left-3 {
    align-items: start;
    margin-left: 50px;
    margin-top: 100px;
    height: 512px;
    width: 490px;
}

.section-3 .right-3 {
    margin-top: 100px;
    height: 512px;
    width: 490px;
    letter-spacing: 1.5px;
}

.section-3 .right-3 h1 {
    font-weight: 700;
    line-height: 1.25;
    font-family: 'Jakarta', sans-serif;
    font-size: 2.875rem;
    margin-bottom: 26px;
}

.section-3 .right-3 h2 {
    font-weight: 700;
    line-height: 1.35;
    font-family: 'Jakarta', sans-serif;
    font-size: 1.85rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-3 .right-3 h3 {
    font-size: 0.85rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Jakarta', sans-serif;
    margin-bottom: 35px;
}

.section-3 .right-3 h6 {
    font-size: 1.1rem;
    font-weight: 500;
    color: gray;
}

.section-3 .right-3 ul {
    font-size: 1.1rem;
    color: gray;
    margin-left: 15px;
    list-style-type: disc;
}

.section-4 {
    background: white;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 60px;
    align-items: center;
}

.section-4 .left-4 {
    margin-top: 200px;
    margin-left: 80px;
    padding-bottom: 50px;

}

.section-4 .left-4 h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.85rem;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1.35;

}

.section-4 .left-4 p {
    font-size: 1.15rem;
    color: gray;
}

.section-4 .left-4 ul {
    margin-top: 20px;
    margin-left: 15px;
    list-style-type: disc;
    font-size: 1.15rem;
    color: gray;
}

.section-4 .left-4 li {
    margin-top: 20px;
    margin-left: 15px;
}

.section-4 .right-4 img {
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 45px;
    height: 580.26px;
    width: 512px;
    margin-right: 60px;
    margin-top: 150px;
}

.section-5 h2 {
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: -0.5px;
    font-size: 3.125rem;
    margin-top: 200px;
    text-align: center;

}

.section-5 p {
    color: gray;
    font-size: 1.3125rem;
    text-align: center;
    margin-top: 10px;
}

.section-5 .container-5 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 60px;
    align-items: center;
}

.section-5 .left-5 {
    background: rgba(239, 245, 254, 0.705);
    margin-top: 50px;
    margin-left: 80px;
    padding-bottom: 50px;
    height: 542px;
    border-radius: 16px;
}

.section-5 .left-5 h5 {
    font-size: 1.625rem;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

.section-5 .left-5 .p {
    font-size: 1.25rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.section-5 .left-5 img {
    height: 243px;
    width: 390px;
    margin-left: 60px;
}

.section-5 .right-5 {
    background: rgba(239, 245, 254, 0.705);
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 50px;
    padding-bottom: 50px;
    height: 542px;
    border-radius: 16px;
}

.section-5 .right-5 img {
    height: 253px;
    width: 380px;
    margin-top: 50px;
    margin-left: 80px;
}

.section-5 .right-5 h5 {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    margin-top: 20px;
}

.section-5 .right-5 p {
    font-size: 1.25rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    background: #fff;
    text-align: center;
    margin-top: 70px;

}

.container-2 .content-1 {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 300px;
}

.container-2 .content-1 h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.container-2 .content-1 p {
    font-size: 19px;
    text-align: start;
    color: gray;
    line-height: 1.3;

}


.section-6 {
    background: white;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 60px;
    align-items: center;
    margin-top: 50px;
    border-top: 0.01px solid black;
}

.section-6 .left-6 {
    margin-top: 50px;
    padding-left: 90px;
    height: 554px;
    width: 512px;
    align-items: start;

}

.section-6 .right-6 h5 {
    font-weight: 700;
    line-height: 1.35;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.85rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.section-6 .right-6 p {
    font-size: 1.15rem;
    margin-right: 50px;
    letter-spacing: 1px;
    color: gray;
}

.section-6 .right-6 ul {
    margin-right: 15px;
    list-style-type: disc;
    font-size: 1.15rem;
    margin-right: 50px;
    margin-left: 20px;
    letter-spacing: 1px;
    color: gray;
}

.section-6 .right-6 button {
    background: white;
    color: rgb(80, 78, 78);
    border: black solid;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.975rem;
    margin-top: 25px;
    font-family: 'Jakarta', sans-serif;
}

.section-6 .right-6 button:hover {
    color: white;
    background: #f43776;
    border: 1px solid #f43776;
}

.section-7 {
    background: rgba(255, 255, 255, 0.555);
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 60px;
    align-items: center;

}

.section-7 .left-7 {
    margin-top: 100px;
    padding-left: 70px;
    height: 554px;
    width: 512px;
    align-items: start;

}

.section-7 .left-7 h6 {
    font-size: 1rem;
    color: gray;
    text-transform: uppercase;
    font-weight: bold;
}

.section-7 .left-7 h2 {
    font-size: 2.875rem;
    font-weight: 700;
    font-family: 'Jakarta', sans-serif;
    margin-top: 30px;
}

.section-7 .left-7 p {
    font-size: 1.15rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.5px;
    text-align: start;
    color: gray;
}

.section-7 .left-7 span {
    color: rgba(255, 0, 0, 0.692);
}

.section-7 .right-7 {
    display: block;
    position: relative;
}

.services-1 {
    position: relative;
    display: flex;
    background: rgba(255, 255, 255, 0.947);
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;

}

.service-grid-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 20px;
}

.card-1 {
    background: white;
    border: rgb(232, 232, 232) solid;
    border-radius: 15px;
    padding: 29px;
    display: block;
}

.card-1 h3 {
    font-size: 1.33rem;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.35rem;
    text-align: center;
}

.card-1 h6 {
    margin-top: 10px;
    color: #6b7280;
    font-size: 1.07rem;
    font-weight: 530;
    width: 200px;

}

.section-8 {
    margin-top: 80px;
    padding-bottom: 50px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 60px;
    align-items: center;
}

.section-8 .left-8 {
    height: 441px;
    width: 512px;
    margin-left: 80px;
}

.section-8 .right-8 {
    padding-right: 50px;
}

.section-8 .right-8 h6 {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Jakarta', sans-serif;
    padding-bottom: 30px;
    letter-spacing: 0.5px;
}

.section-8 .right-8 h2 {
    font-size: 2.875rem;
    font-weight: 700;
    font-family: 'Jakarta', sans-serif;
    letter-spacing: 1px;
}

.section-8 .right-8 ul {
    list-style-type: disc;
    font-size: 1.15rem;
    color: rgb(110, 109, 109);
    margin-left: 10px;
    letter-spacing: 1px;
    margin-right: 25px;
}

.section-8 .right-8 li {
    margin-top: 20px;

}

.section-9 {
    background: #f2eefc;
    margin-top: 50px;
}

.section-9 .part-1 h2 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 250px;
    font-family: 'Jakarta', sans-serif;
    color: #353f4f;
}

.section-9 .part-1 p {
    font-size: 1.5rem;
    color: #757575;
    text-align: center;
    padding-top: 10px;
}

.section-9 .part-1 img {
    padding-top: 80px;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.swiper {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.swiper-text {
    display: inline-block;
    font-size: 1.0625rem;
    font-weight: 550;
    font-family: 'Jakarta', sans-serif;
    padding: 8px 16px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.swiper-wrapper {
    display: block;
    align-items: center;
}

.swiper-slide img {
    height: 81px;
    width: 162px;
}

.section-10 {
    margin-bottom: 100px;
    border-top: 0.01px black;
}

.section-10 .text-h2 {
    font-size: 3.125rem;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    margin-top: 150px;
}

.section-10 .text-p {
    font-size: 1.3125rem;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.box-1 {
    height: 350px;
    width: 350px;
    background: white;
    margin-top: 80px;
    padding: 29px;
    display: block;
}

.box-1 img {
    justify-content: center;
}

.s10-inner-h6 {
    text-align: center;
    font-size: 1.375rem;
    font-weight: 700;
    margin-top: 1rem;
}

.s10-p {
    font-size: 1.15rem;
    text-align: center;
    color: gray;
    margin-top: 0.5rem;
}

.box-2 {
    height: 300px;
    width: 350px;
    background: white;
    margin-top: 80px;
    padding: 29px;
    display: block;
}

.box-3 {
    height: 300px;
    width: 350px;
    background: white;
    margin-top: 80px;
    padding: 29px;
    display: block;
}


.section-11 {
    background: rgba(255, 255, 255, 0.555);
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 60px;
    align-items: center;
    padding-top: 100px;
    border-top: 0.01px solid black;
}

.section-11 .left-11 {
    margin-top: 100px;
    padding-left: 70px;
    height: 554px;
    width: 512px;
    align-items: start;

}

.section-11 .left-11 h6 {
    font-size: 1rem;
    color: gray;
    text-transform: uppercase;
    font-weight: bold;
}

.section-11 .left-11 h2 {
    font-size: 2.875rem;
    font-weight: 700;
    font-family: 'Jakarta', sans-serif;
    margin-top: 30px;
}

.section-11 .left-11 p {
    font-size: 1.15rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.5px;
}

.section-11 .left-11 span {
    color: rgba(255, 0, 0, 0.692);
}

.section-11 .right-11 {
    display: block;
    position: relative;
    margin-left: 50px;

}

.section-11 .right-11 img {
    height: 623px;
    width: 512px;
}

.section-12 {
    padding-top: 100px;
}

.section-12 h2 {
    font-size: 3.125rem;
    font-weight: 700;
    font-family: 'Jakarta', sans-serif;
    color: #353f4f;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}

.section-12 p {
    font-size: 1.3125rem;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

.section-12 img {
    padding-top: 100px;
    padding-left: 140px;
}

.btn {
    margin-top: 50px;
    text-align: center;
}

.section-12 button {
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    width: 250px;
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.section-12 button:hover {
    color: white;
    background: #f43776;
    border: 2px solid #f43776;
}

.btn p {
    font-size: 1.11rem;
    letter-spacing: 1px;
}

.section-13 {
    margin-top: 100px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 60px;
    align-items: center;
    padding-bottom: 100px;
}

.left-13 img {
    margin-left: 60px;
    height: 667px;
    width: 512px;
}

.right-13 {
    width: 600px;
    margin: 50px auto;
    position: relative;
    margin-right: 50px;
    margin-left: 50px;
}

.right-13::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #e5e5e5;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;
}

.circle {
    width: 150px;
    height: 50px;
    background: #f43776;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.4rem;
}

.circle:hover {
    width: 150px;
    height: 50px;
    background: white;
    color: #f43776;
    border: 2px solid #f43776;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.4rem;
}

.content {
    margin-left: 40px;
    margin-top: 5px;
}

.content h3 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Jakarta', sans-serif;
}

.content p {
    font-size: 1.1375rem;
    font-family: 'Jakarta', sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #666;
    line-height: 1.6;
}

.section-14 {
    display: block;
    max-width: 100%;
    padding-top: 100px;
    background: #e7e3fc;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 5px;
}

.section-14 h2 {
    font-size: 3.125rem;
    font-weight: 700;
    color: #353f4f;
    text-align: center;
    padding-left: 260px;
    padding-right: 260px;
}

.section-14 p {
    text-align: center;
    font-size: 1.3125rem;
    color: gray;
    margin-top: 10px;
}

.swiper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 100px;
    overflow: hidden;
    padding: 0 100px;
    margin-top: 50px;
}

.swiper-wrapper {
    align-items: stretch;
    display: flex;
    height: 100%;
}

.swiper-wrapper p {
    text-align: center;
    font-size: 1.15rem;
}

.swiper-slide {
    background: white;
    padding: 20px;
    display: block;
    border-radius: 15px;
    border: 2px solid rgb(255, 250, 250);
}

.mySwiper1 .card-1 {
    height: 345px;
    width: 200px;
}

.mySwiper1 .card-2 {
    height: 314px;
    width: 200px;
}

.mySwiper1 .card-3 {
    height: 314px;
    width: 200px;
}

.mySwiper1 .card-4 {
    height: 345px;
    width: 200px;
}

.mySwiper1 .card-5 {
    height: 314px;
    width: 200px;
}

.mySwiper1 .card-6 {
    height: 345px;
    width: 200px;
}

.mySwiper1 .card-7 {
    height: 314px;
    width: 200px;
}

.mySwiper1 .card-8 {
    height: 283px;
    width: 200px;
}

.mySwiper1 p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.content-2 {
    position: relative;
    display: flex;
    align-items: center;
}


.content-2 img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 40px;
    margin-bottom: 10px;
}

.text {
    text-align: start;
}

.text h6 {
    color: black;
    line-height: 0;
    margin-left: 8px;
    text-align: start;
    font-size: 1.21rem;
    margin-top: 60px;
}

.text p {
    font-size: 1rem;
    text-align: start;
}

.container-14 {
    margin-top: 80px;
}

.container-14 h5 {
    color: gray;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.rating {
    display: flex;
    margin-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.rating-1 {
    margin-left: 100px;
}

.rating-1 img {
    height: 38px;
    width: 171px;
}

.rating-2 {
    margin-left: 100px;
}

.rating-2 img {
    height: 38px;
    width: 152px;
}

.rating-3 {
    margin-left: 100px;
}

.rating-3 img {
    height: 38px;
    width: 136px;
}

.star-rating {
    display: flex;
    margin-top: 15px;
    border: 2px solid rgb(247, 246, 246);
    border-radius: 50px;
    background: white;
}


.star-rating span {
    color: rgb(255, 213, 0);
    margin-left: 25px;
    justify-content: space-between;
}

.star-rating p {
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    color: gray
}

.section-15 {
    background: #faf2fd;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 100px;
    border-radius: 15px;
    padding-bottom: 50px;
}

.section-15 h2 {
    font-size: 3.125rem;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.section-15 p {
    font-size: 1.3125rem;
    color: gray;
    text-align: center;
    margin-top: 20px;
}

.block-15 {
    display: flex;
    padding-top: 50px;
    margin-left: 60px;
    padding-bottom: 80px;
}

.data-1 {
    height: 150px;
    background: white;
    border-radius: 15px;
    width: 150px;
    margin-left: 30px;
}

.data-1 img {
    height: 65px;
    width: 65px;
    margin-top: 45px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 35px;
    align-items: center;
}

.data-1 h6 {
    font-size: 1.0625rem;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin-top: 20px;
    text-align: center;
}

.section-15 button {

    background-color: transparent;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    width: 250px;
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.section-15 button:hover {
    background: #f43776;
    color: white;
    border: 2px solid #f43776;
}

.section-16 {
    margin-top: 100px;
}

.section-16 h2 {
    font-size: 3.125rem;
    color: #353f4f;
    font-weight: 700;
    font-family: 'Jakarta', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

.section-16 p {
    color: #757575;
    font-size: 1.3125rem;
    color: gray;
    text-align: center;
    margin-top: 20px;
}

.questions {
    margin-top: 80px;
    margin-left: 80px;
    display: flex;
}

.left-16 h5 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Jakarta', sans-serif;
}

.left-16 p {
    font-size: 1.12rem;
    letter-spacing: 1px;
    margin-bottom: 25px;
    margin-right: 40px;
    text-align: left;
}

.left-16 ul {
    margin-left: 15px;
    list-style-type: disc;
    color: gray;
    margin-right: 50px;
    margin-top: 15px;
    font-size: 1.12rem;
    letter-spacing: 1px;
}

.left-16 li {
    margin-top: 10px;
}

.right-16 h5 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Jakarta', sans-serif;

}

.right-16 p {
    font-size: 1.12rem;
    letter-spacing: 1px;
    margin-bottom: 17px;
    margin-right: 40px;
    text-align: left;
}

.more-question {
    /* background: rgb(230, 229, 229); */
    margin-left: 400px;
    margin-right: 400px;
}


.more-question p {
    background: rgb(240, 226, 251);
    border: 2px solid transparent;
    border-radius: 50px;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.more-question a {
    color: #f74780;
    font-weight: bold;
    text-decoration: underline;
}

.section-17 {
    background: rgb(82, 23, 123);
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 15px;
    margin-top: 100px;
    color: white;
    padding-bottom: 50px;
}

.section-17 h2 {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    letter-spacing: 1.1px;
    font-family: 'Jakarta', sans-serif;
}

.section-17 p {
    text-align: center;
    font-size: 1.258rem;
    margin-bottom: 20px;
}

.section-17 button {
    color: white;
    background: #f74780;
    padding: 12px 12px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: bold;
}

.section-17 button:hover {
    color: white;
    background: transparent;
    border: 2px solid white;
}

.section-17 .check {
    font-size: 1.0625rem;
}

.footer {
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.footer-data {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}

.footer img {
    width: 172px;
    height: 48px;
}


.footer-1 {
    margin-left: 80px;
}

.footer p {
    font-size: 1.15rem;
    color: gray;
    line-height: 2.5rem;
}

.footer-1 h2 {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;

}

.footer-2 {
    margin-left: 80px;
}

.footer-2 h2 {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;

}


.footer-3 {
    margin-left: 80px;
}

.footer-3 h2 {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;

}


.footer-4 {
    margin-left: 80px;
}

.footer-4 h2 {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.footer-4 .input {
    border: 1px solid rgb(233, 233, 233);
    padding: 10px 20px;
    border-radius: 10px;
    background: rgb(231, 231, 231);
}

.footer-4 input {
    background: rgb(231, 231, 231);
}

.footer span {
    color: red;
    font-weight: 900;
}

.bottom-footer {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.left-part {
    align-items: start;
    padding-right: 100px;
    margin-right: 250px;
}

.left-part p {
    font-size: 1.15rem;
}

.right-part {
    display: flex;
    margin-top: 10px;
    margin-left: 250px;
}

.right-part img {
    height: 22px;
    width: 26px;
}

.right-part a {
    margin-left: 15px;
}

@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {}